@using System.Security.Claims
@using GM_DAL.IServices
@using GM_DAL.Models
@inject IUserInfoService userService


<!DOCTYPE html>
<!--
This is a starter template page. Use this page to start your new project from
scratch. This page gets rid of all links and provides the needed markup only.
-->
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>HỆ THỐNG QUẢN LÝ DỊCH VỤ CÔNG ÍCH</title>

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome Icons -->
    <link href="~/admin-template/fonts/fontawesome-free/css/all.min.css" rel="stylesheet" />
    
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />

    <link href="~/admin-template/css/adminlte.css" rel="stylesheet" />
    <link href="~/admin-template/plugins/toastr/toastr.min.css" rel="stylesheet" />
    @RenderSection("styles", required: false)
    <style>
        #popup-overlay {
            position: fixed;
            background-color: rgba(0, 0, 0, 0.685);
            width: 100%;
            height: 95vh;
            top: 0;
            left: 0;
            z-index: 9998;
            display: block;
            overflow-y: hidden;
            overflow-x: hidden;
            display: none;
        }

        #content-wating {
            margin-top: 20%;
        }
    </style>
</head>
<body class="hold-transition sidebar-mini">
    <div class="toast align-items-center hide position-relative bd-example-toasts" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="d-flex" >
            <div class="toast-body">
                Hello, world! This is a toast message.
            </div>
            <button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
    </div>
   

    <div class="wrapper">

        <!-- Navbar -->
        <nav class="main-header navbar navbar-expand navbar-dark navbar-purple">
            <!-- Left navbar links -->
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
                </li>
                <li class="nav-item d-none d-sm-inline-block">
                    <a href="index3.html" class="nav-link">HỆ THỐNG QUẢN LÝ DỊCH VỤ CÔNG ÍCH (phiên bản 2.0)</a>
                </li>
            </ul>




            @{
                string userName = "Chưa đăng nhập";
                string fullName = "Chưa đăng nhập";
                string roleCode = "NA";
                var leftMenu = new APIResultObject<List<MenuModel>>();

                if (User.Identity.IsAuthenticated)
                {
                    userName = User.Claims.FirstOrDefault(x => x.Type == ClaimTypes.Name).Value;
                    roleCode = User.Claims.FirstOrDefault(x => x.Type == ClaimTypes.Role).Value;
                    fullName = User.Claims.FirstOrDefault(x => x.Type == "FullName").Value;
                    leftMenu = await userService.GetMenuByRole(roleCode);

                }
            }

            <!-- Right navbar links -->
            <ul class="navbar-nav ml-auto">
                <!-- Messages Dropdown Menu -->
                <!-- Notifications Dropdown Menu -->
                <li class="nav-item dropdown" id="top-right-menu-profile">
                    <a class="nav-link" data-toggle="dropdown" href="#">
                        <i class="far fa-user"></i>&nbsp; @(fullName)
                       
                    </a>
                    <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right" id="top-right-menu-profile-child">
                       
                        <a href="#" class="dropdown-item">
                            <i class="fas fa-users mr-2"></i> @(userName)
                        </a>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item">
                            <i class="fas fa-lock mr-2"></i> Đổi mật khẩu
                        </a>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item">
                            <i class="fas fa-arrow-right mr-2"></i> Thoát
                        </a>

                    </div>
                </li>

            </ul>
        </nav>
        <!-- /.navbar -->
        <!-- Main Sidebar Container -->
        <aside class="main-sidebar sidebar-light-purple elevation-4">
            <!-- Brand Logo -->
            <a href="#" class="brand-link navbar-purple text-center">
               
                <span class="brand-text font-weight-light text-white font-weight-bold" ">G-DVCI</span>
            </a>

            <!-- Sidebar -->
            <div class="sidebar">
              

                <!-- Sidebar Menu -->
                <nav class="mt-2">
                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                        
                @{
                    foreach (var itemMenu in leftMenu.data.Where(x => x.parent == 0))
                    {
                                <li class="nav-item">
                                    <a href="#" class="nav-link active">
                                        <i class="nav-icon fas @(itemMenu.menuIcon)"></i>
                                        <p>@(itemMenu.name)<i class="right fas fa-angle-left"></i></p>
                                    </a>

                                    <ul class="nav nav-treeview">
                                    @{




                                        var subMenu = leftMenu.data.Where(x => x.parent == itemMenu.id);
                                        if (subMenu.Any())
                                        {
                                            foreach (var childMenu in subMenu)
                                            {
                                                    <li class="nav-item">
                                                        <a href="@(childMenu.url)" class="nav-link">
                                                            <i class="far fa-circle nav-icon"></i>
                                                            <p>@(childMenu.name)</p>
                                                        </a>
                                                    </li>
                                        }
                                        }
                                    }
                                    </ul>
                           


                                   
                                </li>
                    }
                }
                        
                        
                        
                        



                    </ul>
                </nav>
                <!-- /.sidebar-menu -->
            </div>
            <!-- /.sidebar -->
        </aside>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
           @RenderBody()
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
       
        <!-- /.control-sidebar -->
        <!-- Main Footer -->
        <footer class="main-footer">
            <!-- To the right -->
            <div class="float-right d-none d-sm-inline">
                Phát triển bởi: Công ty cổ phần GAMAN
            </div>
            <!-- Default to the left -->
            <strong>Copyright &copy; 2014-2020 <a href="https://adminlte.io">AdminLTE.io</a>.</strong> All rights reserved.
        </footer>
    </div>
    <!-- ./wrapper -->
    <!-- REQUIRED SCRIPTS -->
    <!-- jQuery -->
    <div id="popup-overlay">
        <div class="text-center" id="content-wating">
            <div class="spinner-border text-warning" role="status" style="width: 3rem; height: 3rem;">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
    </div>
   


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    
    <script src="~/admin-template/jquery/adminlte.js"></script>
    <script src="~/admin-template/jquery/helper.js"></script>
    <script src="~/admin-template/plugins/toastr/toastr.min.js"></script>
    <script>
        $(document).ready(function () { 
            $("#top-right-menu-profile").click(function () {
                if($(this).hasClass("show"))
                {
                    $(this).removeClass("show");
                    $("#top-right-menu-profile-child").removeClass("show");
                }
                else
                {
                    $(this).addClass("show");
                    $("#top-right-menu-profile-child").addClass("show");
                }
            });
        })
    </script>
    @RenderSection("scripts", required: false)

</body>
</html>
